*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Ubuntu, 'Open Sans', sans-serif;
    margin: 0;
}

div > h2,
div > h1, figcaption {
    font-weight: 350;
}

div > h3 {
    font-weight: 400;
}
/* Nav */

.header {
    align-items: center;    
    background-color: #030203;        
    border-bottom: 2px solid #859084;   
    display: flex;    
    justify-content: space-between;     
    padding: 0.5em 2.5em; 
    width: 100%;       
}

.logo-img {                   
    border: 2px solid #859084;   
    border-radius: 50%;
    min-width: 35px; 
    width: 5%;            
}

.links {           
    display: flex;   
    flex-wrap:wrap;
    gap: 2em;
    list-style: none;       
    padding: 0;
}

.list-item:hover {
    font-weight: 500;
    text-decoration: underline;
}
.list-item {       
    color:  #c1bba8;  ;
    text-decoration: none;               
}

/* Description */

.container-description {    
   align-items: center;   
   background-image: url(/img/background_description.jpg);  
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;   
   border-bottom: 2px solid #859084;
   display: flex;  
   flex-wrap: wrap;   
   justify-content: center;        
} 

.description {
   align-items: center;
   background-color: rgba(3, 2, 3,0.85);
   border-radius: 25px;
   color: #c1bba8;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;  
   margin: 3em 5em 3em 5em;
   padding: 2% 4%;
   text-align: center;   
}

.title {
    text-transform: uppercase;
}

button {
    background-color: #b5bbb4;
    border-radius: 25px;
    color: #030203;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 2% 4%;
    width: 40%;   
}

button:hover {
    filter:brightness(120%)
}

/* Guides */

.container-guides {
    background-color: #030203;
    border-bottom: 2px solid #859084; 
    display: flex;
    width: 100%;          
}

.tank-imgs {
    align-items: center;
    display: flex;
    flex: 3;
    flex-wrap:wrap;
    gap:3em;
    justify-content:space-evenly;
    margin: 2em;    
}

.tank-class {
    border-radius: 100px;
    justify-content: center;  
    width: 100px;    
}

.title-guides {
    align-items: center;
    color: #c1bba8;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1em 2em 0 2em;
    text-transform: uppercase;    
}

.link-class {
    align-items: center;
    display: flex;
    flex-wrap: wrap; 
    justify-content:center;
}

.link-class:hover {
    filter:contrast(200%); 
    transform: scale(1.2); 
    transition: 0.3s all ease-in-out;
}

/* Changes from row to column */
@media (max-width: 600px) {
    .container-guides {      
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-evenly;        
    }
  }
  
  /* Mythic Plus */

  .container-plus {
    align-items: center;
    background-color: #222525;
    border-bottom: 2px solid #859084; 
    display: flex;
    flex-direction: column-reverse;    
    justify-content: center;
    padding: 1em 0.5em;  
    width: 100%;
  }

  .dungeon-imgs {
    align-items: center;
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: space-evenly;
    margin: 2em;        
  }

  .dungeon {
    border: 1px solid #859084;
    border-radius: 25px;
    height: 125px;
    padding: 0;
    width: 250px;
  }

  .title-plus {
    color: #c1bba8;    
    text-transform: uppercase;
  }

.dungeon:hover {
    filter: grayscale(60%);
    transition: 0.3s all ease-in-out;
}

.image-wrap {        
    border-radius: 25px;
    height: 125px;
    position: relative;
    width:250px;
}

.text-hover {      
    color: #b5bbb4;
    filter: brightness(120%);
    font-size: larger; 
    font-weight: 800;
    margin: 0;
    position: absolute;
    transition: 0.8ms all ease-in-out; 
    top: 40%;
    visibility: hidden;
    -webkit-text-stroke: 1px #030203;
}

.bh {    
    left: 14%;
}

.fh {    
    left: 35%;
}

.hoi {
    left: 20%;
}

.nl {
    left: 19%;
}

.nel {
    left: 33%;
}

.uld {
    left: 8%;
}

.ur {
    left: 25.5%;
}

.vp {
    left: 12.5%;
}

.image-wrap:hover .text-hover {
    opacity: 1;
    visibility: visible;
}

/* Raid */

.container-raid {
    background-color: #17150b;  
    border-bottom: 2px solid #859084; 
    display: flex;
    flex-direction: column-reverse;    
    padding: 1.5em;
    width: 100%;
    
}

.raid-imgs {    
    align-items: center; 
    display: flex;
    flex-wrap: wrap;    
    gap: 1em;
    justify-content: space-evenly;
    margin: 0 0.7em;            
}

figure {   
    display: table;     
}

figcaption {
    background-color: rgba(3, 2, 3,0.5);
    border-radius: 0 0 25px 25px;
    caption-side: bottom; 
    display: table-caption;
    padding: 5%;    
    text-transform: uppercase;
}

.boss-img {    
    border-radius: 25px 25px 0 0;
    filter:sepia(150%);  
    height: 150px;
    margin: 0;
    object-fit:cover;
    object-position: top;
    width: 240px;
    padding: 0;
}

.link-boss {    
    border-radius: 25px;
    color:#b5bbb4 ;
    display: flex;
    flex-direction: column;    
    font-weight: 500; 
    outline: 2px solid #030203;
    text-align: center;
    text-decoration: none;
}

.title-raid {
    align-items: center;
    color: #c1bba8;;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;       
    justify-content: center;
    padding: 1.5em ;
    text-transform: uppercase;    
    text-align: center;    
}

.link-boss:hover {
    transform: scale(1.2);         
    transition: 0.4s all ease-in-out;
}
 
figcaption:hover {    
    background-color: rgba(255, 255, 255, 0.7);
    color: #030203;
    font-weight: 800;   
    filter: sepia(0%);  
}

.boss-img:hover {
    filter: sepia(0%);  
}

/* Quote */

.container-quote-section {
    align-items: center; 
    background-color: transparent;
    border-bottom: 2px solid #859084; 
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    position: relative;
}

.container-video {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;  
}

.container-quote {
    background-color: rgba(3, 2, 3,0.85);
    border-radius: 25px;
    color: #c1bba8;     
    margin: 5.5em;    
    padding: 1.5em;
    text-align: center;    
}

/* Resources */

.resources-section {
    background-color: #222525;
    padding: 2em;
}
.container-resources {     
    display: flex;
    flex-direction: column;       
    overflow: hidden;
}

div[class^="block-"] {
    display: flex;         
    object-fit: cover;
}

.block-two {    
    height: 400px;      
}

div[class^="resource-"] { 
    align-items: center;
    background-size: cover;
    border-radius: 25px;
    display: flex;         
    filter: grayscale(80%);   
    justify-content: center;
    margin: 1%;
    outline: 2px solid #030203; 
    padding: 1em; 
}

.resource-one {    
    background-image: url(/img/alex.jpg);  
    flex: 1;
}

.resource-two {    
    background-image: url(/img/route.jpg);      
    flex-basis: 25%;    
}

.resource-three {    
    background-image: url(/img/raiderio.jpg);
    flex-basis: 50%;
}

.resource-four {    
    background-image: url(/img/yt_tw.jpg);
    flex-basis: 25%;     
}

.resource-five {    
    background-image: url(/img/logs.jpg);  
    flex-basis: 50%;    
 }

 .resource-six {    
    background-image: url(/img/sources.jpg);   
    flex-basis: 50%;    
 } 

 .resource-title {    
    background-color: rgba(3, 2, 3,0.5); 
    border-radius: 25px;
    color: #c1bba8;     
    font-size: 2.5vw;
    font-weight: 250;
    padding: 2%;
    text-transform: uppercase;     
    text-align: center;           
}       

 div[class^="resource-"]:hover {
    filter: none;
 }

 @media (max-width: 600px) {
    .block-one {
        flex-basis: 33.33%; 
        height: 100px;
    }

    .block-two{
      flex-basis: 35%; 
      flex-direction: column;      
    }
    
    .block-three {
        flex-basis: 35%; 
        flex-direction: column;        
    }
    
    .resource-title {
        font-size: 3vw;
    }
}

