*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Besley, serif;
    margin: 0;
}    

.header {
    align-items: center;
    border: 1px solid red;    
    background-color: rgba(0, 0, 0, 0.9);        
    display: flex;
    justify-content: space-between;
    outline: 2px solid gold;    
    padding: 0.5% 5% 0 5%;       
    left: 0;
    right: 0;
}

.logo-img {                 
    border: 1px solid yellow;   
    width: 4%;    
    min-width: 50px;     
    margin-left: 5%; 
}

.links {         
    display: flex;
    flex-wrap: wrap;    
    outline: 1px solid pink;        
    gap: 2em;
    list-style: none;       
    padding: 0;
}

.list-item {        
    outline: 1px solid goldenrod; 
    color: azure;
    text-decoration: none;               
}

.container-description {    
   display: flex;        
   background-image: url(/img/background_description.jpg);  
   background-repeat: no-repeat;
   background-size: 100%;   
   justify-content: center;
   align-items: center;  
} 

/* Need to style text and button here for next session */
.description {
   background-color: azure;
   text-align: center;  
   margin: 5%;
   padding: 2%;
   border-radius: 25px;
   
}