*,
*::before,
*::after {
    box-sizing: border-box;  
    
    
}

body {
    cursor: url(/cursor/auto.webp) , auto;    
    font-family: Ubuntu, 'Open Sans', sans-serif;
    margin: 0;
    
}

a, button {
    cursor: url(cursor/link.webp), pointer;
}

.home {
    cursor: url(cursor/home.webp), pointer;
}


h2,h1,figcaption {
    font-weight: 350;
}

h3 {
    font-weight: 400;
}
/* Nav */

.header {
    align-items: center;    
    background-color: #030203;        
    border-bottom: 2px solid #859084;   
    display: flex;    
    justify-content: space-between;     
    padding: 0.5em 2.5em; 
    width: 100%;       
}

.logo-img {                   
    border: 2px solid #859084;   
    border-radius: 50%;
    min-width: 35px; 
    width: 5%;            
}

.links {           
    display: flex;   
    flex-wrap:wrap;
    gap: 2em;
    list-style: none;       
    padding: 0;
}

.list-item:hover {
    font-weight: 500;
    text-decoration: underline;
}
.list-item {       
    color:  #c1bba8;  ;
    text-decoration: none;               
}

/* Description */

.container-description {    
   align-items: center;   
   background-image: url(/img/background_description.jpg);  
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;   
   border-bottom: 2px solid #859084;
   display: flex;  
   flex-wrap: wrap;   
   justify-content: center;        
} 

.description {
   align-items: center;
   background-color: rgba(3, 2, 3,0.85);
   border-radius: 25px;
   color: #c1bba8;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;  
   margin: 3em 5em 3em 5em;
   padding: 2% 4%;
   text-align: center;   
}

.title {
    text-transform: uppercase;
}

button {
    background-color: #b5bbb4;
    border-radius: 25px;
    color: #030203;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 2% 4%;
    width: 40%;   
}

button:hover {
    filter:brightness(120%)
}

/* Guides */

.container-guides {
    background-color: #030203;
    border-bottom: 2px solid #859084; 
    display: flex;
    width: 100%;          
}

.tank-imgs {
    align-items: center;
    display: flex;
    flex: 3;
    flex-wrap:wrap;
    gap:3em;
    justify-content:space-evenly;
    margin: 2em 3em;       
}

.tank-class {
    border-radius: 100px;
    justify-content: center;  
    width: 100px;    
}

.title-guides {
    align-items: center;
    color: #c1bba8;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1em 2em 0 2em;
    text-transform: uppercase;    
}

.link-class {
    align-items: center;
    display: flex;
    flex-wrap: wrap; 
    justify-content:center;
}

.link-class:hover {
    filter:contrast(200%); 
    transform: scale(1.2); 
    transition: 0.3s all ease-in-out;
}

/* Changes from row to column */
@media (max-width: 600px) {
    .container-guides {      
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-evenly;        
    }
  }
  
  /* Mythic Plus */

  .container-plus {
    align-items: center;
    background-color: #222525;
    border-bottom: 2px solid #859084; 
    display: flex;
    flex-direction: column-reverse;    
    justify-content: center;
    padding: 1em 0.5em;  
    width: 100%;
  }

  .dungeon-imgs {
    align-items: center;
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: space-evenly;
    margin: 2em;        
  }

  .dungeon {
    border: 1px solid #859084;
    border-radius: 25px;
    height: 125px;
    padding: 0;
    width: 250px;
  }

  .title-plus {
    color: #c1bba8;    
    text-transform: uppercase;
  }

.dungeon:hover {
    filter: grayscale(60%);
    transition: 0.3s all ease-in-out;
}

.image-wrap {        
    border-radius: 25px;
    height: 125px;
    position: relative;
    width:250px;
}

.text-hover {      
    color: #b5bbb4;
    filter: brightness(120%);
    font-size: larger; 
    font-weight: 800;
    margin: 0;
    position: absolute;
    transition: 0.8ms all ease-in-out; 
    top: 40%;
    visibility: hidden;
    -webkit-text-stroke: 1px #030203;
}

.bh {    
    left: 14%;
}

.fh {    
    left: 35%;
}

.hoi {
    left: 20%;
}

.nl {
    left: 19%;
}

.nel {
    left: 33%;
}

.uld {
    left: 8%;
}

.ur {
    left: 25.5%;
}

.vp {
    left: 12.5%;
}

.image-wrap:hover .text-hover {
    opacity: 1;
    visibility: visible;
}

/* Raid */
.container-raid {
    display: flex;
    background-color:#1f1f16;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.wrapper-boxes {    
    display: flex; 
    margin: 2em;
    height: 500px;
    width: 90%;  
}
.box-one {
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    flex: 1;           
}

.box-two {
    outline: 1px solid rebeccapurple;
    display: flex;
    flex-direction: column;   
    flex: 3;  
}

.box-three {
    /* outline: 10px solid yellow; */
    display: flex;
    flex: 1;
  
    
}

.box-four {
    /* outline: 5px solid greenyellow; */
    display: flex; 
    flex: 3;
    
}

.box-five {
    outline: 2px solid blue;
    display: flex;
    flex-direction: column;
    flex: 3; 
    align-items: stretch;  
}

.box-six {
    /* outline: 3px solid red; */
    display: flex;
    flex-direction: column;
   flex:1;
}

.box-seven {
    /* outline: 10px solid red; */
    display: flex;
    flex: 1;

}

.box-eight {
    display: flex;
    flex: 1;
   
}
div[class^="boss-"] {
    background-size: cover;
    display: flex;    
    justify-content: center;
    align-items: center;
    flex: 1;
}    

.boss-one {    
    background-image: url(img/kazzara.png);
    background-position: center;    
}

.boss-two {    
    background-image: url(img/amalgamation1.jpg);
    background-position: center;
}

.boss-three {    
    background-image: url(img/experiments.png);
    background-position-y: 10%;
}

.boss-four {    
    background-image: url(img/zaqali.png);
    background-position-y: 15%;    
}

.boss-five {
    background-image: url(img/rashok.jpg);
    background-position: center;
}

.boss-six {
    background-image: url(img/zskarn.jpg);
    background-position-y: 10%;    
}

.boss-seven {
    background-image: url(img/magmorax.jpg);
    background-position: center;
}

.boss-eight {
    background-image: url(img/echo.jpg);
    background-position-y: 15%;
   
}

.boss-nine {
    background-image: url(img/sarkareth.jpg);    
    background-position: center;
    
}

.link-boss {      
    text-decoration: none;
    color: gray;
    text-align: center;
}

div[class^="boss-"]:hover {
    transform: scale(1.1);
    transition: .2s all ease-in-out;
}

/* Quote */

.container-quote-section {
    align-items: center; 
    background-color: transparent;
    border-bottom: 2px solid #859084; 
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    position: relative;
}

.container-video {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;  
}

.container-quote {
    background-color: rgba(3, 2, 3,0.85);
    border-radius: 25px;
    color: #c1bba8;     
    margin: 5.5em;    
    padding: 1.5em;
    text-align: center;    
}

/* Resources */

.resources-section {
    background-color: #222525;
    padding: 1.5em;
}
.container-resources {   
    display: flex;
    flex-direction: column;
}

.wrapper-resources {
    display: flex;    
    flex-direction: column;
    height: 750px;
}

div[class^="block-"] {
    display: flex;
}

.block-one {
    flex: 1 ;
}

.block-two {
    flex: 3;
}

.block-three {
    flex: 1;
}

div[class^="resource-"] { 
    align-items: center;
    background-size: cover;    
    border-radius: 25px;
    display: flex;         
    filter: grayscale(45%);   
    justify-content: center;
    margin: 1%;
    outline: 2px solid #030203; 
    padding: 1em; 
}

.resource-one {    
    background-image: url(/img/alex.jpg);  
    flex: 1;
}

.resource-two {    
    background-image: url(/img/route.jpg);      
    background-position: 5%;
    flex: 1;    
}

.resource-three {    
    background-image: url(/img/raiderio.jpg);
    flex: 2;
    background-position: center 20% ;    
}

.resource-four {    
    background-image: url(/img/yt_tw.jpg);
    flex: 1;   
}

.resource-five {    
    background-image: url(/img/logs.jpg);  
    flex: 1;    
 }

 .resource-six {    
    background-image: url(/img/sources.jpg);   
    flex: 1;
 } 

 .resource-title {    
    background-color: rgba(3, 2, 3,0.5); 
    border-radius: 25px;
    color: #c1bba8;     
    font-size: 2.5vw;
    font-weight: 250;
    padding: 2%;
    text-transform: uppercase;     
    text-align: center;           
}       

 div[class^="resource-"]:hover {
    filter: none;
 }

 @media (max-width: 600px) {

    .wrapper-resources {
        height: 600px;
    }
    div[class^="block-"] {
        flex-direction: column;
        flex: 1;
    }

    .resource-title {
        font-size: 3vw;
    }
}

.title-resources-section {
    align-items: center;
    color: #c1bba8;;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;       
    justify-content: center;
    padding: 1.5em ;
    text-transform: uppercase;    
    text-align: center;    
}


/* Create footer - rezise video to be less than 50mb without losing quality - 
- fix syntax of figcaption - add section botton to go up and down - add navigation menu for phone*/